# Dev config folders
/.circleci
/.vscode
/docs
/src
/test
/scripts

# Configuration files
.editorconfig
.prettierignore
.prettierrc.json
gulpfile.js
ISSUE_TEMPLATE
tsconfig.json

# Ignore artifacts
*.tgz